h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    font-family: "Karla";
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 2.3rem;
    position: relative;
    padding-right: 50px;

}


.next-button {
    content: '';
    position: absolute;
    right: 575px;
    top: 65%;
    transform: translateY(-50%);
    width: 22px;
    height: 34px;
    background-image: url('images/next-button.png');
    background-size: contain;
    background-repeat: no-repeat;
}


.main-image-container {
    position: relative;
    display: inline-block;
}

.mainImg {
    display: grid;
    place-items: center;
}

.mainImg img {
    width: 530px;
    height: 530px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.mainImg h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

.main-heart-icon {
    position: absolute;
    bottom: 70px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-heart-icon:hover::before {
    background-image: url('images/redheart.png');
}

.main-heart-icon::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 41px;
    height: 39px;
    background-image: url('images/heart.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.photos {
    display: grid;
    place-items: center;
}

.hidden h2 {
    font-size: 2.3rem;
    margin-top: 50px;
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}

.back-button {
    content: '';
    position: absolute;
    left: 0;
    top: 65%;
    transform: translateY(-50%);
    width: 22px;
    height: 34px;
    background-image: url('images/back-button.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.hidden p {
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    padding-left: 70px;
    margin-left: 200px;
}

.hidden p::before {
    content: '';
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 14px;
    background-image: url('images/blackheart.png');
    background-size: contain;
    background-repeat: no-repeat;
}



.hidden h2,
.hidden p {
    margin-left: 200px;
}


.hidden .image-container:hover .heart-icon {
    display: block;
    z-index: 2;
}


.hidden .heart-icon {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 18px;
    height: 17px;
    background-image: url('images/heart.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
}

.hidden .heart-icon:hover {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 18px;
    height: 17px;
    background-image: url('images/redheart.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
}



.hidden img {
    width: 242px;
    height: 242px;
    border-radius: 30px;
    transition: transform 0.3s ease;

}

.hidden img:hover {
    filter: saturate(200%);
    transform: scale(1.03);
    z-index: 1;
    position: relative;

}


.image-container1,
.image-container2,
.image-container3,
.image-container4,
.image-container5,
.image-container6,
.image-container7,
.image-container8 {
    position: relative;
    display: inline-block;
    width: 242px;
    width: 242px;
    margin: 25px;
}


.firstRow {
    display: flex;
    flex-direction: row;
}

.secondRow {
    display: flex;
    flex-direction: row;
}

.eachImg {
    display: grid;
    place-items: center;
}



.second-back-button {
    position: absolute;
    left: -280px;
    top: 0;
    width: 22px;
    height: 34px;
    background-image: url('images/back-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;

}

.eachImg .heading h3 {
    margin-top: 20px;
}

.eachImg .heading h3,
.eachImg .heading p {
    text-align: center;

}

.each .heading p {
    margin-bottom: 10px;
}

.Backey,
.Vegetables,
.Flowers,
.Sunset,
.Getty,
.Symmetry,
.Catnapping,
.Flowerhouse {
    position: relative;
    padding-left: 80px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}


.eachImg img {

    border-radius: 5px;

}

.info {
    background-color: #ffc0c0;
    border-radius: 30px;
    padding: 10px;
    display: none;
    position: absolute;
    width: 400px;
    bottom: 70px;
    left: 57.5%;
    transform: translateX(-50%);
    z-index: 3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: fit-content;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translate(-50%, 10px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.info h3,
.info p {
    padding-left: 20px;
    margin-bottom: 10px;
}

.Backey,
.Vegetables,
.Flowers,
.Sunset,
.Getty,
.Symmetry,
.Catnapping,
.Flowerhouse img {
    display: block;
}


.container,
.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7 {
    position: relative;
    width: 450px;
    height: 580px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}

.container img,
.container1 img,
.container2 img,
.container3 img,
.container4 img,
.container5 img,
.container6 img,
.container7 img {
    width: 450px;
    height: 580px;
    object-fit: cover;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: relative;
    z-index: 2;
}


.container::after {

    background: url("images/backey_hover.png") center/cover no-repeat;

}

.container1::after {

    background: url("images/vegetables_hover.png") center/cover no-repeat;

}


.container2::after {

    background: url("images/flowers_hover.jpg") center/cover no-repeat;

}

.container3::after {

    background: url("images/watching_hover.jpg") center/cover no-repeat;

}

.container4::after {

    background: url("images/sunset_hover.png") center/cover no-repeat;

}

.container5::after {

    background: url("images/symmetry_hover.jpg") center/cover no-repeat;

}

.container6::after {

    background: url("images/napping_hover.jpg") center/cover no-repeat;

}

.container7::after {

    background: url("images/flowerhouse_hover.jpg") center/cover no-repeat;

}

.container::after,
.container1::after,
.container2::after,
.container3::after,
.container4::after,
.container5::after,
.container6::after,
.container7::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 580px;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}



.container:hover img,
.container1:hover img,
.container2:hover img,
.container3:hover img,
.container4:hover img,
.container5:hover img,
.container6:hover img,
.container7:hover img {
    opacity: 0;
}

.container:hover::after,
.container1:hover::after,
.container2:hover::after,
.container3:hover::after,
.container4:hover::after,
.container5:hover::after,
.container6:hover::after,
.container7:hover::after {
    opacity: 1;
}



.infoButton {
    position: relative;
    width: 35px;
    height: 35px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("images/info.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
}

.infoButton:hover {
    position: relative;
    width: 35px;
    height: 35px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('images/info_hover.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
}

.info .story {
    background-color: #ffe6e6;
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
}